<header class="site-header">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/">
		{% if !page.title || page.title != site.title %}
		<img src="{{ "/assets/avatar.png" | prepend: site.baseurl }}" style="width: 40px; height: 40px;"/>
		{% endif %}
		</a>
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

		<nav class="site-nav">
			<div class="trigger">
			{% for my_page in site.pages %}
				{% if my_page.title != "About" %}
					{% if my_page.title %}
						<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			</div>
		</nav>

	</div>

</header>
