.headerblock {
	text-align: center;
}

.pad {
	padding-right: 6px;
}

.deprecated {
	text-decoration: line-through;
}

.nohi, .nohi a {
	color: $text-color;
}

.hi {
	color: #B58900;
}

.obvious-link {
	text-decoration: underline;
}

.rss-subscribe {
	font-size: $small-font-size;
}

.footer, .footer a {
	font-size: $even-smaller-font-size;
	text-align: center;
	color: $text-color;
	text-decoration: underline;
}

hr {
	height: 1px;
	border-style: solid;
	border-color: $text-color;
	border-width: 1px 0 0 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

table.colorTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.colorTable td, table.colorTable th {
    border: 1px solid #000;
    padding: 0.5em 0.5em;
}

table.colorTable tbody td {
    font-size: 13px;
}

table.colorTable thead th.spacer, table.colorTable tbody tr td.spacer {
    min-width: 1em;
    border: none;
}

table.colorTable thead tr.header th {
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffd7;
    color: #000000;
}

table.colorTable thead tr.header th.spacer {
    background-color: transparent;
}

table.colorTable td.color1 {
    background-color: #ffe994;
}

table.colorTable td.color2 {
    background-color: #ffd8ce;
}

table.colorTable td.color3 {
    background-color: #dedce6;
}

table.colorTable td.color4 {
    background-color: #dee6ef;
}

table.colorTable td.color5 {
    background-color: #f6f9d4;
}

table.colorTable td.color6 {
    background-color: #ffffa6;
}

/**
 * Site header
 */
.site-header {
	border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	min-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: 26px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	font-family: 'Source Code Pro', 'Andale Mono', monospace;
	float: left;

	&,
	&:visited {
		color: $title-color;
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: $spacing-unit / 2;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;

			&:not(:last-child) {
				margin-right: 0;
			}
			margin-left: 20px;
		}
	}
}

/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
}

.page-heading {
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	font-family: 'Source Code Pro', 'Andale Mono', monospace;
	color: $grey-color;
}

.post-link {
	display: block;
	font-size: 18px;
}

/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}
